<h2 style="text-align: center;">Employee List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>
                <button (click)="update(employee.id)" class="btn btn-outline-info" style="margin-right: 20px;">UPDATE</button>
                <button (click)="delete(employee.id)" class="btn btn-outline-warning">DELETE</button>

            </td>
        </tr>
    </tbody>
</table>